@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 25, 23;
  /* stone-900 */
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 250, 250, 249;
  /* stone-50 */
}

body {
  @apply text-stone-900 bg-stone-50;
  /* Subtle pattern for texture */
  background-image: radial-gradient(#ea580c 0.5px, transparent 0.5px), radial-gradient(#ea580c 0.5px, #fafaf9 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  background-color: #fafaf9;
  /* stone-50 */
}